@model WebApplication1.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Second_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Second_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratings.Data_lessons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ratings.Data_lessons)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
